@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Lota Grotesque", sans-serif;
    transition: all 0.5s ease-in-out;
}

.overlay {
    transition: 0.5s ease;
    background-color: rgba(0, 34, 33, 0.5);
}

.img-overlay:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
/* Cursor Circle */
#cursor {
    height: 20px;
    width: 20px;
    position: fixed;
    transform: translate(30%, 30%);
    transition: all 0.1s;
    border-radius: 50%;
    background: #00d7c7;
    pointer-events: none;
}

/* Navbar Hambuger */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
    z-index: 1010;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 2px;
    background: white;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
    background: #00d7c7;
}
.open .hamburger-middle {
    transform: translate(45px);
    opacity: 0;
    /* display: none; */
}
.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    background: #00d7c7;
}

/* Dark */
.hamburger-top-dark,
.hamburger-middle-dark,
.hamburger-bottom-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 2px;
    background: #14233f;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle-dark {
    transform: translateY(7px);
}

.hamburger-bottom-dark {
    transform: translateY(14px);
}
.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}
.open .hamburger-top-dark {
    transform: rotate(45deg) translateY(6px) translate(6px);
    background: #00d7c7;
}
.open .hamburger-middle-dark {
    transform: translate(45px);
    opacity: 0;
    /* display: none; */
}
.open .hamburger-bottom-dark {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
    background: #00d7c7;
}

/* Navigation Items */
.nav-logo {
    z-index: 1010;
    cursor: pointer;
}
.navbar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0a162c;
}

.navbar a {
    font-size: 80px;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-weight: 900;
    position: relative;
    font-style: italic;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.navbar .nav-items {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 5.5rem;
}
.nav-item-number {
    color: transparent;
    -webkit-text-stroke: 2px #00d7c7;
}
.nav-item-case {
    -webkit-text-stroke: 0px;
}
.navbar a::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: 0.3s linear;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.navbar a:hover::before {
    clip-path: polygon(0 0, 100% 0, 110% 100%, 0 100%);
}

/* Floating Animation for Nav Image */
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
.minimal-floating {
    animation-name: minimal-floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes minimal-floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 20px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
/* Highlight */
.highlight {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
        -100deg,
        rgba(0, 255, 221, 0.2),
        rgba(0, 255, 234, 0.7) 95%,
        rgba(0, 255, 225, 0.1)
    );
}

/* Content Styles */
.content-number {
    color: transparent;
    -webkit-text-stroke: 2px #00d7c7;
}
/* Navigation Media Query */
@media (max-width: 768px) {
    .navbar a {
        font-size: 3rem;
    }
    .navbar .nav-items {
        line-height: 2rem;
    }
    #nav-toggler {
        top: 20px;
        right: 30px;
    }
}
@media (max-width: 640px) {
    .navbar a {
        font-size: 2em;
        -webkit-text-stroke: 0.4px white;
    }
    .navbar .nav-items {
        line-height: 2rem;
    }
}
